<header>
    <nav>
        <ul>
            <h1><a href="{{ path('app_main') }}">LoliSSR</a></h1>
            <li><a href="{{ path('app_main') }}">List</a></li>
            <li><a href="{{ path('app_main') }}">Contact</a></li>
            <li><a href="{{ path('app_main') }}">Upload</a></li>
        </ul>

        <ul>
            <li><a href="{{ path('app_register') }}">Register</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
        </ul>
    </nav>
</header>