{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section>
    <p>LoliSSR find your favorite waifu !</p>
    <p>Currently on page 1.</p>
</section>

{% set compteur = 0 %}

{% for images in image %}

    {% if compteur == 0 %}
        <div id="row-images">
    {% endif %}

        <div id="show-images">
            <img src="{{ asset('images/loli/' ~ images.name)}}" alt="{{ images.name }}">
            <p>{{ images.getCreatedAt()|date('d-m-Y') }}</p>
            <p>List Type :{{ images.type }}</p>
            <p>Gender :{{ images.gender }}</p>
        </div>

        {% set compteur = compteur + 1 %}

            {% if compteur == 4 %}
            </div>
            {% endif %}

{% endfor %}

{% endblock %}
