{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<section id="main-section">
    <p>LoliSSR find your favorite waifu !</p>
    <p>Currently on page 1.</p>
</section>

{% set compteur = 0 %}
{# {% set last = images.getTotalItemCount %} #}

{% for image in images %}

    {% if compteur == 0 %}

    <div class="row-images">

    {% endif %}

        <div class="show-images">
            <img src="{{ asset('assets/images/loli/' ~ image.name)}}" alt="{{ image.name }}">
            <p>{{ image.createdAt|date('d/m/Y') }}</p>
            <a href="#">List Type : {{ image.type }}</a>
            <a href="#">Gender : {{ image.gender }}</a>
        </div>

    {% set compteur = compteur + 1 %}

    {% if (compteur % 4 == 0) %}

        {% set compteur = 0 %}

        </div>

    {% endif %}

{% endfor %}

<div id="navigation">
    {{ knp_pagination_render(images, 'pages/paginate/paginate.html.twig') }}
</div>

{% endblock %}