{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}

    <h2>Register here</h2>

    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p>{{ message }}</p>
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.name) }}
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    {% endfor %}

    <div>
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
    </div>

    <div>
        {{ form_label(registrationForm.name) }}
        {{ form_widget(registrationForm.name) }}
    </div>

    <div>
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
    </div>

    <div class="chexbox-space">
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>

    {{ form_row(registrationForm.submit) }}

    <h2>If you already have an account</h2>

    <a href="{{ path('app_login') }}">Login</a>

{{ form_end(registrationForm) }}

{% endblock %}