{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}

{{ form_start(form) }}

    <h2>Edit password</h2>

    <p class="bold">New password</p>

    <div>
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
    </div>

    <div>
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
    </div>

    <div>
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit) }}
    </div>

{{ form_end(form) }}

{% endblock %}