{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{{ form_start(form) }}

    <h2>Send a message here</h2>

    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="warning-flash">
            <p>{{ message }}</p>
            {{ form_errors(form.email) }}
            {{ form_errors(form.name) }}
            {{ form_errors(form.subject) }}
            {{ form_errors(form.message) }}
        </div>
    {% endfor %}

    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject) }}
    </div>

    <div class="message-space">
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
    </div>

    {{ form_row(form.submit) }}

{{ form_end(form) }}

{% endblock %}