{% extends 'base.html.twig' %}

{% block title %}Contact Read{% endblock %}

{% block body %}

<article>

    <h2>All contact</h2>

     {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p class="message-flash">{{ message }}</p>
        </div>
    {% endfor %}   

    {% for contact in contacts %}
        <div class="margin-bottom">
            {# <p><span class="bold">UserId :</span></p> #}
            <div>
                <p><span class="bold">Email :</span> {{ contact.email }}</p>
            </div>
            <div>
                <p><span class="bold">Name :</span> {{ contact.name }}</p>
            </div>
            <div>
                <p><span class="bold">Subject :</span> {{ contact.subject }}</p>
            </div>
            <div>
                <p><span class="bold">Message :</span> {{ contact.message }}</p>
            </div>
            <div>
                <p><span class="bold">Date :</span> {{ contact.createdAt|date('d/m/Y') }}</p>
            </div>    
            <div>
                <a class="a-button" href="{{ path('app_admin_contacts_delete', { id: contact.id }) }}" class="btn btn-warning">Supprimer</a>
            </div>
        </div>
    {% endfor %}

</article>

{% endblock %}