{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<article>
    <h2>All users</h2>

    {% for message in app.flashes('success') %}
        <div class="success-flash">
            <p class="message-flash">{{ message }}</p>
        </div>
    {% endfor %}

    {% for user in users %}
        <div class="margin-bottom">
            <div>
                <p><span class="bold">Email :</span> {{ user.email }}</p>
            </div>
            <div>
                <p><span class="bold">Name :</span> {{ user.name }}</p>
            </div>
            <div>
                <p><span class="bold">Date :</span> {{ user.createdAt|date('d/m/Y') }}</p>
            </div>
            <div>
                <a class="a-button" href="{{ path('app_admin_users_delete', { id: user.id }) }}" class="btn btn-warning">Supprimer</a>
            </div>
        </div>
    {% endfor %}
    
</article>

{% endblock %}